vendor/
vendor
wordpress
wordpress/
node_modules
node_modules/
.env
wp-content/mu-plugins/contact-form
wp-content/mu-plugins/contact-form/

wp-content/plugins/
wp-content/plugins

wp-content/themes/
wp-content/themes

wp-content/uploads/
wp-content/uploads

packages/
packages
